body{
    background-color: #f1dbc3;
    margin: 0px;
}
  
nav {
font-size: 2.5vh;
font-family: "Handlee";
background-color: #F79D65;
box-shadow: 0px 0px 20px rgba(50, 50, 50, 0.3);
}

li {
    padding: 0px 30px 0px 0px; 
}

.dropdown-menu, .dropdown-item {
background-color: #F79D65; 
}

.navlogo {
color: rgb(245, 237, 226) !important;
font-family: "Dancing Script";
font-size: 5vh;
justify-self: start; 
}

.titulo {
color: #F79D65;
font-family: "Staatliches";
margin: 5vh;
font-size: 6vh;
letter-spacing: 0.5vh;
}

a {
color: white !important;
font-family: "Handlee";
text-decoration: none; 
}

input {
font-family: "Piazzolla";
background-color: #F79D65 !important;
}

footer {
background-color: black;
color: white;
font-family: "Piazzolla";
display: flex;
justify-content: space-between;
align-items: center;
height: 10vh;
margin-top: 1vh;
}
footer .footer__logo {
    font-family: "Dancing Script";
    font-size: 3vh;
    margin-left: 1vh;
    padding-left: 1vh; 
}
footer ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5vh;
    list-style: none;
    padding-top: 1vh; 
}

.card-text {
font-family: "Piazzolla";
color: #c07549; 
}

.card-title {
font-family: "Handlee";
color: #F79D65;
font-weight: bold; 
}