body{
    background-color: rgb(245, 237, 226);
    margin: 0px;
}
  
nav {
font-size: 2.5vh;
font-family: "Handlee";
background-color: #b32727;
box-shadow: 0px 0px 20px rgba(50, 50, 50, 0.3);
}

li {
    padding: 0px 30px 0px 0px; 
}

.dropdown-menu, .dropdown-item, .boton {
background-color: #b32727; 
}

.navlogo {
color: rgb(245, 237, 226) !important;
font-family: "Dancing Script";
font-size: 5vh;
justify-self: start; 
}

.modal-backdrop {
    position: unset !important;
}

.principal {
font-weight: 500;
background-size: cover;
background-position: center;
background-image: url("../../img/cheesecake.jpg");
height: 100vh;
width: auto;
}

.principal__texto {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-shadow: 1px 1px 5px rgba(50, 50, 50, 0.5);
    color: rgb(245, 237, 226);
    font-family: "Bree Serif";
    font-size: 13vh;
    letter-spacing: 0.2vh;

    animation-duration: 2s;
    animation-name: aparecer;
 }
 
 @keyframes aparecer {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

h2{
    display: flex;
    justify-content: center;
    text-shadow: 1px 1px 5px rgba(50, 50, 50, 0.5);
    color:#b32727;
    font-family: "Bree Serif";
    font-size: 8vh;
}

a, .texto {
color: white !important;
font-family: "Handlee";
text-decoration: none; 
}

input {
font-family: "Piazzolla";
background-color: #b32727 !important;
}

footer {
background-color: black;
color: white;
font-family: "Piazzolla";
display: flex;
justify-content: space-between;
align-items: center;
height: 10vh;
margin-top: 1vh;
}
footer .footer__logo {
    font-family: "Dancing Script";
    font-size: 3vh;
    margin-left: 1vh;
    padding-left: 1vh; 
}
footer ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5vh;
    list-style: none;
    padding-top: 1vh; 
}

.card-text {
font-family: "Piazzolla";
color: #b32727; 
}

.card-title {
font-family: "Handlee";
color: #b32727;
font-weight: bold; 
}